<template>
  <div class="dropdown" v-click-outside="closeDropdown">
    <div class="dropdown-label" @click.stop="toggleDropdown">
      <span
        :class="{ placeholder: !selectedOptLabel }"
      >
        {{ selectedOptLabel ? selectedOptLabel : placeholder }}
      </span>
    </div>
    <div v-show="showDropdown" class="dropdown-opt-wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, computed, provide, ref } from 'vue'

export default {
  name: 'Dropdown',
  props: {
    modelValue: [String, Number],
    placeholder: {
      type: String,
      default: 'Select an option',
    },
  },
  setup(props, { emit }) {
    const { modelValue } = toRefs(props)
    const optMapping = reactive({})

    // used by Options.vue to register value
    function registerOption({ value, label }) {
      optMapping[value.value] = label
    }

    // fires when options are clicked
    function handleOptClick(val) {
      emit('update:modelValue', val)
      closeDropdown()
    }

    // displays the selected option label
    const selectedOptLabel = computed(() => {
      return optMapping[modelValue.value] ? optMapping[modelValue.value] : ''
    })

    // toggles the dropdown
    let showDropdown = ref(false)
    function toggleDropdown() {
      showDropdown.value = !showDropdown.value
    }
    function closeDropdown() {
      showDropdown.value = false
    }

    // inject dependency
    provide('dropdown', reactive({
      registerOption,
      handleOptClick,
      value: modelValue,
    }))

    return {
      selectedOptLabel,
      showDropdown,
      toggleDropdown,
      closeDropdown,
    }
  },
}
</script>

<style lang="scss" scoped>
.dropdown {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  display: inline-block;
  width: 100%;
  position: relative;
}

.dropdown-label {
  padding: 5px 25px 5px 5px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0, -50%);
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px #ddd;
    height: 0;
    width: 0;
  }
}

.placeholder {
  color: #ddd;
}

.dropdown-opt-wrapper {
  border: 1px solid #ddd;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
}
</style>
