<template>
  <div
    class="dropdown-option"
    :class="{ selected: dropdownValue === value }"
    @click.stop="handleOptClick(value)"
  >
    <slot></slot>
  </div>
</template>

<script>
import {inject, toRefs} from 'vue'

export default {
  name: 'DropdownOption',
  props: {
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const { value, label } = toRefs(props)
    const dropdown = inject('dropdown')

    dropdown.registerOption({
      value,
      label,
    })

    return {
      handleOptClick: dropdown.handleOptClick,
      dropdownValue: dropdown.value,
    }
  },
}
</script>

<style lang="scss" scoped>
.dropdown-option {
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }
}
</style>
