<template>
  <input :type="type" :value="modelValue" @change="handleChange" />
</template>

<script>
export default {
  name: 'Input',
  props: {
    type: {
      type: String,
      default: 'text',
      validator(value) {
        return ['text', 'number'].includes(value)
      },
    },
    modelValue: {
      type: String,
      default: '',
    }
  },
  methods: {
    handleChange(e) {
      this.$emit('update:modelValue', e.target.value)
    },
  },
}
</script>
