<template>
  <div class="manager">
    <div class="manager-inner">
      <!-- TODO: image and hyperlinks could be in separate component -->
      <img class="profile-pic" src="/user-placeholder.jpg" alt="placeholder" />
      <div class="info">
        <h3 class="name">{{ name }}</h3>
        <div>
          <a :href="'mailto: ' + email">
            Email: <b>{{ email }}</b>
          </a>
        </div>
        <div>
          <a :href="'tel:' + mobile">
            Mobile: <b>{{ mobile }}</b>
          </a>
        </div>
        <div>
          Company: {{ company }}
        </div>
        <div>
          Address: {{ address }}
        </div>
        <div>
          <a :href="website">
            Website: {{ website }}
          </a>
        </div>
        <div>
          Age: {{ age }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Manager',
  props: {
    name: {
      type: String,
      default: '',
    },
    email: {
      type: String,
      default: '',
    },
    mobile: {
      type: String,
      default: '',
    },
    company: {
      type: String,
      default: '',
    },
    address: {
      type: String,
      default: '',
    },
    website: {
      type: String,
      default: '',
    },
    age: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.manager {
  width: 30%;
  display: inline-block;
  box-shadow: 0 8px 20px #ecedee;
  margin-bottom: 25px;
  margin-right: 25px;
}

.manager-inner {
  display: flex;
  padding: 15px;
}

.profile-pic {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 5px;
  margin-bottom: 10px;
  word-break: break-word;
}

a {
  color: #000;
  text-decoration: none;
}
</style>
