<template>
  <div class="body">
    <div>
      <label>
        Diamond count
        <Input type="number" v-model="diamondCount" />
      </label>
      <button @click="drawDiamond">Print</button>
    </div>
    <div>

    </div>
  </div>
</template>

<script>
import Input from '@components/Input'

export default {
  name: 'Diamond',
  components: { Input },
  data() {
    return {
      diamondCount: '1',
    }
  },
  methods: {
    drawDiamond() {
      let num = +this.diamondCount

      // validates number
      if (typeof num !== 'number' || num < 0 || num % 2 === 0) return

      let rows = Math.ceil(num / 2)

      // print upper half
      for (let i = 0; i < rows; i++) {
        let spacer = ' '.repeat((num - i * 2 - 1) / 2)
        let str = ''
        for (let u = 0; u < 2 * i + 1; u++) {
          str += '*'
        }
        str = spacer + str + spacer
        console.log(str)
      }

      // print lower half
      num -= 2
      for (let i = 0; i < rows - 1; i++) {
        let spacer = ' '.repeat(2 * i / 2 + 1)
        let str = ''
        for (let l = 0; l < num - 2 * i; l++) {
          str += '*'
        }
        str = spacer + str + spacer
        console.log(str)
      }
    },

  },
}
</script>

<style lang="scss" scoped>
.body {
  padding: 25px;
}
</style>
