<template>
  <div class="homepage-body">
    <div class="filters">
      <Dropdown
        class="age-filter"
        v-model="selectedAgeFilter"
      >
        <Options
          v-for="(opt, id) in ageFilterOptions"
          :key="'age_filter_' + id"
          :value="id"
          :label="opt"
        >
          {{ opt }}
        </Options>
      </Dropdown>
    </div>
    <div class="search-result">
      <Manager
        class="manager"
        v-for="({ id, name, email, phone, company, address, website, age }) in filteredManager"
        :key="'manager' + id"
        :name="name"
        :email="email"
        :mobile="phone"
        :company="company"
        :address="address"
        :website="website"
        :age="age"
      />
    </div>
  </div>
</template>

<script>
import { reactive, ref, computed } from 'vue'
import Dropdown from '@components/Dropdown'
import Options from '@components/Dropdown/Options'
import Manager from '@components/Manager'
import { getManagers} from '@api/mocky'

export default {
  name: 'Homepage',
  components: {
    Dropdown,
    Options,
    Manager,
  },
  setup() {
    // filters
    const selectedAgeFilter = ref(1)
    const ageFilterOptions = reactive({
      0: 'All',
      1: '20 and below',
      2: '21 - 39',
      3: '40 and above'
    })
    const ageFilterRange = computed(() => {
      switch (+selectedAgeFilter.value) {
        default:
          return []
        case 1:
          return [0, 20]
        case 2:
          return [21, 39]
        case 3:
          return [40]
      }
    })

    // load all managers
    let managers = reactive([])
    getManagers().then(res => {
      if (!res) return

      res.forEach(manager => {
        managers.push({
          ...manager,
          address: manager.address.street,
        })
      })
    })

    const filteredManager = computed(() => {
      // return all managers
      if (ageFilterRange.value.length < 1) {
        return managers
      }

      return managers.filter(manager => {
        if (ageFilterRange.value.length === 1) {
          return manager.age > ageFilterRange.value[0]
        }
        if (ageFilterRange.value.length === 2) {
          return manager.age >= ageFilterRange.value[0] && manager.age <= ageFilterRange.value[1]
        }
      })
    })

    return {
      selectedAgeFilter,
      ageFilterOptions,
      filteredManager,
      ageFilterRange,
    }
  },
}
</script>

<style lang="scss" scoped>
.homepage-body {
  padding: 25px;
}

.age-filter {
  width: 150px;
}

.search-result {
  margin-top: 25px;
  border-top: 2px solid #ddd;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .manager {
    width: 45%;
  }
}

@media (max-width: 414px) {
  .manager {
    width: 100%;
  }
}
</style>
