<template>
  <header>
    <h1>DISTRICT MANAGER</h1>
  </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>


<style lang="scss" scoped>
header {
  padding: 15px 25px;
  text-align: center;
  background-color: #faf9f4;
}
</style>
