<template>
  <Layout v-if="$route.meta.layout === 1" />
  <NoHeader v-if="$route.meta.layout === 2" />
</template>

<script>
import Layout from '@layout/index'
import NoHeader from "@layout/NoHeader"

export default {
  name: 'App',
  components: { Layout, NoHeader },
}
</script>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;

  & * {
    box-sizing: border-box;
  }
}
</style>
