<template>
  <!-- This allows different layout throughout the app  -->
  <div>
    <Header />
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from '@components/Header'

export default {
  name: 'DefaultLayout',
  components: { Header },
}
</script>
